.Border {
  border: #f13d0b 1px solid;
}
.Border-white {
  border: 1px solid #ffffff;
}
.Circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.light {
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.thin {
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
}
.superthin {
  font-weight: 100;
  letter-spacing: 0.5px;
}
/* overwrit bootstrap */
.btn {
  border-radius: 0;
  letter-spacing: 1px;
}
body {
  min-width: 768px;
}
.centered {
  float: none;
  margin: 0 auto;
}
.t5-container {
  max-width: 750px;
}
.fa-lg {
  font-size: 1.7em;
}
.form-control {
  border: 2px solid #f13d0b;
}
.navbar-form .form-control {
  width: 300px;
}
input:focus {
  color: #5e5e5e;
  background-image: none;
}
.username {
  line-height: 70px;
  margin: 0 15px;
  color: #7c7c7c;
  font-size: larger;
}
.user-menu-text {
  padding-left: 10px;
  font-weight: 300;
  font-size: larger;
}
.user-menu .dropdown-menu > li > a {
  padding: 7px 20px;
}
.user-menu .dropdown-menu .divider {
  margin: 0;
}
.btn-social:hover {
  color: #ffffff;
}
.t5-nav-search input::-webkit-input-placeholder {
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.t5-nav-search input:-moz-placeholder {
  /* Firefox 18- */
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.t5-nav-search input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.t5-nav-search input:-ms-input-placeholder {
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.t5-nav-search {
  position: relative;
}
.t5-nav-search button {
  height: 34px;
  width: 34px;
  position: absolute;
  top: 0;
  right: 5px;
  margin: 0;
  border: none;
  background-image: url("../img/search-brand.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 24px;
  background-color: transparent;
  outline: none;
}
/* custom styles for the typeahead */
h4.t5-sr-title {
  color: #5e5e5e;
  background-color: #eeeeee;
  padding: 6px 0px 3px 13px;
  margin: 0;
  font-size: 16px;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
  width: 300px;
}
.tt-dropdown-menu {
  text-align: left;
  background-color: white;
  width: 300px;
  border: 1px solid #eeeeee;
  max-height: 160px;
  overflow-y: auto;
  opacity: 0.97;
}
.tt-suggestion {
  cursor: pointer;
  padding-left: 14px;
}
.tt-suggestion:hover {
  color: #f13d0b;
}
.tt-suggestion p {
  margin: 3px 0;
  font-size: 13.5px;
}
.empty-message {
  text-align: center;
  margin: 3px auto;
}
/*  Category Menu   */
#t5-cat-menu {
  display: inline-block;
  position: fixed;
  top: 110pt;
  width: 30pt;
  background-color: white;
  z-index: 1000;
  cursor: pointer;
}
.t5-cat-1st {
  position: relative;
}
.t5-cat-1st > span {
  display: block;
  height: 23pt;
  margin-left: 3pt;
  background-color: #f13d0b;
  cursor: default;
  color: white;
  text-align: center;
  line-height: 23pt;
}
.t5-cat-icon {
  max-width: 100%;
  max-height: 100%;
  width: 44%;
  vertical-align: text-bottom;
  cursor: pointer;
}
.t5-cat-bf {
  width: 53%;
}
.t5-cat-1st:not(:last-child) > span {
  border-bottom: 1px solid #cf3409;
}
.t5-cat-1st > div {
  position: absolute;
  left: 30pt;
  top: 0;
  width: 120pt;
  padding: 0.5em 0em 0.5em 1.5em;
  background-color: white;
  display: none;
}
.t5-cat-title {
  font-family: 'Playball', 'Monotype Corsiva', 'Gabriola', cursive, script;
  font-size: 20px;
  margin-left: -0.5em;
  margin-top: -0.2em;
  margin-bottom: 0.17em;
  cursor: default;
}
.t5-cat-2nd {
  padding: 0.2em 0;
  white-space: nowrap;
  vertical-align: top;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.t5-cat-2nd:hover {
  color: #f13d0b;
}
a.t5-cat-2nd {
  color: #353535;
}
a.t5-cat-2nd:hover {
  text-decoration: none;
}
.t5-cat-1st:hover > div {
  display: block;
}
.t5-cat-1st:hover > span {
  background-color: white;
  color: black;
  border-right: 1px solid #eeeeee;
}
body {
  background-color: #282828;
}
.hidden {
  display: none;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
h2 {
  font-family: 'Playball', 'Monotype Corsiva', 'Gabriola', cursive, script;
  color: #ffffff;
  text-align: center;
  line-height: 70px;
}
.topic-filters {
  background-color: #353535;
  padding: 20px;
}
.topic-filters .btn-info {
  padding: 2px 20px;
  margin: 7px;
}
.list-item {
  width: 700px;
  margin: 30px 50px 0;
  background-color: #ffffff;
  border: #f13d0b 1px solid;
}
h3 {
  font-weight: 200;
  color: #f13d0b;
  margin-left: 20px;
  margin-bottom: 20px;
}
.t5-cateicon {
  font-size: 2.2em;
  margin-right: 14px;
  margin-top: 12px;
}
.t5-user-pic {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: #f13d0b 1px solid;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  padding: 3px;
}
.t5-item-image-wrap {
  margin-left: 27px;
  height: 120px;
  margin-top: -23px;
}
.t5-item-image {
  border: #f13d0b 1px solid;
  object-fit: cover;
  background-color: #ffffff;
  padding: 3px;
  max-width: 100%;
  max-height: 100%;
}
.t5-ranking-box {
  cursor: pointer;
  display: inline-block;
  font-family: 'Playball', 'Monotype Corsiva', 'Gabriola', cursive, script;
  margin: 1px 5px;
  width: 22px;
  height: 22px;
  text-align: center;
  color: white;
}
.t5-ranking-num {
  vertical-align: middle;
}
.t5-1st {
  background-color: #ea3b0b;
}
.t5-2nd {
  background-color: #f44819;
}
.t5-3rd {
  background-color: #f56239;
}
.t5-4th {
  background-color: #f77c59;
}
.t5-5th {
  background-color: #f9967a;
}
.t5-list-item {
  display: inline-block;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #5e5e5e;
  vertical-align: middle;
}
