.Border {
  border: #f13d0b 1px solid;
}
.Border-white {
  border: 1px solid #ffffff;
}
.Circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.light {
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.thin {
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
}
.superthin {
  font-weight: 100;
  letter-spacing: 0.5px;
}
/* overwrit bootstrap */
.btn {
  border-radius: 0;
  letter-spacing: 1px;
}
body {
  min-width: 768px;
  padding-top: 70px;
}
.hidden {
  display: none;
}
.centered {
  float: none;
  margin: 0 auto;
}
.t5-container {
  max-width: 750px;
}
.navbar {
  margin-bottom: 0;
  box-shadow: 0 0 10px #959595;
}
.fa-lg {
  font-size: 1.7em;
}
.form-control {
  border: 2px solid #f13d0b;
}
.navbar-form .form-control {
  width: 330px;
}
input:focus {
  color: #5e5e5e;
  background-image: none;
}
.username {
  line-height: 70px;
  margin: 0;
  color: #7c7c7c;
  font-size: larger;
}
.username a {
  color: inherit !important;
}
.username a:hover {
  color: white !important;
}
.user-menu-text {
  padding-left: 10px;
  font-weight: 300;
  font-size: larger;
}
.user-menu .dropdown-menu > li > a {
  padding: 7px 20px;
}
.user-menu .dropdown-menu .divider {
  margin: 0;
}
.btn-social:hover {
  color: #ffffff;
}
.t5-nav-search input::-webkit-input-placeholder {
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.t5-nav-search input:-moz-placeholder {
  /* Firefox 18- */
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.t5-nav-search input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.t5-nav-search input:-ms-input-placeholder {
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.t5-nav-search {
  position: relative;
}
.t5-nav-search button {
  height: 34px;
  width: 34px;
  position: absolute;
  top: 0;
  right: 5px;
  margin: 0;
  border: none;
  background-image: url("../img/search-brand.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 24px;
  background-color: transparent;
  outline: none;
}
/* custom styles for the typeahead */
h4.t5-sr-title {
  color: #5e5e5e;
  background-color: #eeeeee;
  padding: 6px 0px 3px 13px;
  margin: 0;
  font-size: 16px;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
  width: 330px;
}
.tt-dropdown-menu {
  text-align: left;
  background-color: white;
  width: 300px;
  border: 1px solid #eeeeee;
  max-height: 270px;
  overflow-y: auto;
  opacity: 0.97;
}
.tt-suggestion {
  cursor: pointer;
  padding-left: 14px;
}
.tt-suggestion:hover {
  color: #f13d0b;
}
.tt-suggestion p {
  margin: 3px 0;
  font-size: 13.5px;
}
.empty-message {
  text-align: center;
  margin: 3px auto;
}
/*  Category Menu   */
#t5-cat-menu {
  display: inline-block;
  position: fixed;
  top: 110pt;
  width: 30pt;
  background-color: white;
  z-index: 1000;
  cursor: pointer;
}
.t5-cat-1st {
  position: relative;
}
.t5-cat-1st > span {
  display: block;
  height: 23pt;
  margin-left: 3pt;
  background-color: #f13d0b;
  cursor: default;
  color: white;
  text-align: center;
  line-height: 23pt;
}
.t5-cat-icon {
  max-width: 100%;
  max-height: 100%;
  width: 44%;
  vertical-align: text-bottom;
  cursor: pointer;
}
.t5-cat-bf {
  width: 53%;
}
.t5-cat-1st:not(:last-child) > span {
  border-bottom: 1px solid #cf3409;
}
.t5-cat-1st > div {
  position: absolute;
  left: 30pt;
  top: 0;
  width: 120pt;
  padding: 0.5em 0em 0.5em 1.5em;
  background-color: white;
  display: none;
}
.t5-cat-title {
  font-family: 'Playball', 'Monotype Corsiva', 'Gabriola', cursive, script;
  font-size: 20px;
  margin-left: -0.5em;
  margin-top: -0.2em;
  margin-bottom: 0.17em;
  cursor: default;
}
.t5-cat-2nd {
  padding: 0.2em 0;
  white-space: nowrap;
  vertical-align: top;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.t5-cat-2nd:hover {
  color: #f13d0b;
}
a.t5-cat-2nd {
  color: #353535;
}
a.t5-cat-2nd:hover {
  text-decoration: none;
}
.t5-cat-1st:hover > div {
  display: block;
}
.t5-cat-1st:hover > span {
  background-color: white;
  color: black;
  border-right: 1px solid #eeeeee;
}
/* template */
.t5-template {
  display: none;
}
/*   list  */
.list-item {
  width: 700px;
  margin: 30px auto 0;
  background-color: #ffffff;
  border: #f13d0b 1px solid;
}
.list-item h3 {
  font-weight: 200;
  color: #f13d0b;
  margin-left: 20px;
  margin-bottom: 20px;
}
.t5-list-heart {
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: baseline;
  cursor: pointer;
  background-image: url(../img/heart.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
/*
.t5-list-heart:hover
{
  background-image:url(../img/heart-highlight.png);  
}
*/
.t5-list-heart.t5-selected {
  background-image: url(../img/heart-highlight.png);
}
.t5-cateicon {
  font-size: 2.2em;
  margin-right: 14px;
  margin-top: 12px;
}
.t5-user-pic {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: #f13d0b 1px solid;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  padding: 3px;
}
.t5-item-image-wrap {
  margin-left: 27px;
  height: 120px;
  margin-top: -23px;
}
.t5-item-image {
  border: #f13d0b 1px solid;
  object-fit: cover;
  background-color: #ffffff;
  padding: 3px;
  max-width: 100%;
  max-height: 100%;
}
.t5-ranking-box {
  cursor: pointer;
  display: inline-block;
  font-family: 'Playball', 'Monotype Corsiva', 'Gabriola', cursive, script;
  margin: 1px 5px;
  width: 22px;
  height: 22px;
  text-align: center;
  color: white;
}
.t5-ranking-num {
  vertical-align: middle;
}
.t5-1st {
  background-color: #ea3b0b;
}
.t5-2nd {
  background-color: #f44819;
}
.t5-3rd {
  background-color: #f56239;
}
.t5-4th {
  background-color: #f77c59;
}
.t5-5th {
  background-color: #f9967a;
}
.t5-list-item {
  display: inline-block;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #5e5e5e;
  vertical-align: middle;
}
.t5-functions {
  float: right;
  font-size: 16px;
  margin-bottom: 5px;
}
.t5-functions .fa {
  color: #a9a9a9;
  margin-left: 5px;
}
#toTop {
  display: none;
  right: 30px;
  bottom: -10px;
  background: white;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  /* transition */
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  height: 50px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
/***********  list adding ***********/
#t5-list-adding-btn.t5-focus li > a {
  background-color: #f13d0b;
  color: white;
}
/* list adding title */
#t5-list-adding {
  /*
  position:relative;
  */
  position: fixed;
  top: 70px;
  width: 100%;
  background-color: white;
  display: none;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
  margin-bottom: 30px;
  z-index: 1000;
}
#t5-list-adding-title {
  height: 34pt;
  background-color: #eeeeee;
  border-bottom: 2px solid #d9d9d9;
}
#t5-list-adding-title .container,
#t5-list-adding-title .container > * {
  line-height: 34pt;
  vertical-align: middle;
}
#t5-list-title-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #959595;
  background-color: transparent;
  line-height: 10pt;
  margin: 5pt 0;
  outline: none;
  padding-left: 0.5em;
  font-size: 16px;
}
#t5-list-title-input:focus {
  border-bottom-color: #5e5e5e;
}
#t5-list-cat-btn {
  display: inline-block;
  width: 1.26em;
  height: 1.26em;
  margin-left: 0.3em;
  background-image: url('../img/cat-icon.png');
  background-size: 100% 100%;
  vertical-align: text-top;
}
#t5-list-cat-wrap {
  display: inline-block;
  height: 34pt;
  cursor: pointer;
  padding: 0 16pt;
}
#t5-list-cat-wrap.t5-open {
  background-color: white;
}
#t5-save-list-btn {
  line-height: 14.3pt;
  background-color: #f44819;
  vertical-align: 1px;
}
#t5-save-list-btn:hover {
  background-color: white;
}
/* list adding category menu */
#t5-la-cat-title {
  font-size: 15px;
}
.t5-open #t5-la-cat-title {
  color: #f13d0b;
}
#t5-list-cat-menu {
  position: absolute;
  top: 34pt;
  width: 100%;
  height: 130pt;
  border-bottom: 1px solid #eeeeee;
  text-align: center;
  padding: 10pt 0;
  background-color: white;
  z-index: 5000;
}
#t5-list-cat-menu .container {
  height: 100%;
}
.t5-list-cat-col {
  display: inline-block;
  height: 100%;
  width: 125px;
  vertical-align: top;
  text-align: left;
  padding-left: 0.5em;
}
.t5-list-cat-col:nth-child(2) {
  width: 134px;
}
.t5-list-cat-col:nth-child(3) {
  width: 150px;
}
.t5-list-cat-col:nth-child(4) {
  width: 190px;
}
.t5-list-cat-col:nth-child(5) {
  width: 118px;
}
.t5-list-cat-col:nth-child(6) {
  width: 110px;
}
.t5-list-cat-col:not(:first-child) {
  border-left: 1px solid #eeeeee;
}
.t5-list-cat-col > h4 {
  margin-top: 7pt;
  color: #353535;
  font-size: 14px;
}
.t5-list-cat-col > div {
  color: #5e5e5e;
  font-size: 12px;
  line-height: 1.9em;
}
img.t5-la-cat-icon {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  vertical-align: text-bottom;
}
.t5-la-cat-item {
  cursor: pointer;
}
.t5-la-cat-item:hover {
  color: #f13d0b;
}
.t5-la-cat-item.t5-selected {
  color: #f13d0b;
}
.t5-list-cat-col:nth-child(4) > div {
  display: inline-block;
  vertical-align: top;
  width: 80px;
}
/*  list adding body  */
#t5-la-body {
  padding: 1em 0;
}
#t5-la-item-input,
#t5-la-item-image,
#t5-la-item-comment {
  border: 2px solid #d9d9d9;
  outline: none;
}
#t5-la-item-input.tt-input {
  width: 330px;
  height: 32px;
  margin: 3px 0;
  padding-left: 2.2em;
  background-image: url("../img/search.png");
  background-position: 3px center;
  background-repeat: no-repeat;
  background-size: 25px;
  background-color: transparent;
}
#t5-la-item-input.tt-dropdown-menu {
  z-index: 2;
}
.tt-dropdown-menu {
  width: 330px;
}
.tt-hint {
  display: none;
}
#t5-la-item-wrap {
  margin: 5pt 0;
  height: 122pt;
}
#t5-la-item-image,
#t5-la-item-comment {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  z-index: 1;
}
#t5-la-item-image {
  position: relative;
  width: 130pt;
  background-color: black;
}
#t5-la-item-image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.t5-la-image-icon {
  position: absolute;
  display: inline-block;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1000;
  cursor: pointer;
}
.t5-filled .t5-la-image-icon {
  display: none;
}
.t5-filled:hover .t5-la-image-icon {
  display: inline-block;
}
.t5-filled:hover img {
  opacity: 0.5;
}
.t5-la-image-icon:nth-child(1) {
  background-image: url(../img/upload.png);
  width: 50px;
  height: 50px;
  /*
  right:5px;
  bottom:35px;
  */
  left: 20%;
  bottom: 40%;
}
.t5-la-image-icon:nth-child(1):hover {
  background-image: url(../img/upload-hover.png);
}
.t5-la-image-icon:nth-child(2) {
  background-image: url(../img/url.png);
  width: 45px;
  height: 45px;
  /*
  right:5px;
  bottom:5px;
  */
  right: 20%;
  bottom: 40%;
}
.t5-la-image-icon:nth-child(2):hover {
  background-image: url(../img/url-hover.png);
}
.modal-header {
  border-bottom: none;
}
.modal-header h3 {
  margin: 0.5em;
  text-align: center;
  color: inherit;
  letter-spacing: 1px;
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
}
.modal-body {
  padding-top: 0;
  text-align: center;
}
.modal-body button {
  height: 35px;
}
#t5-la-image-url {
  vertical-align: middle;
  width: 450px;
  height: 35px;
  margin: 10px;
  padding: 0 0.5em;
  font-size: 1.5em;
  background-color: transparent;
  border: 2px solid #f13d0b;
  outline: none;
}
#t5-la-image-form {
  display: none;
}
#t5-la-item-comment {
  width: 110pt;
  float: right;
  padding: 3px 0.5em;
  resize: none;
  font-size: 12px;
}
#t5-la-item-btn {
  position: relative;
  top: 3px;
  width: 100%;
}
#t5-la-body > .container > div:nth-child(2) {
  padding-left: 20pt;
}
.t5-la-item {
  white-space: nowrap;
  margin-bottom: 5pt;
}
.t5-la-item div {
  display: inline-block;
  padding-left: 5pt;
  font-size: 18px;
  color: #5e5e5e;
  vertical-align: middle;
}
.t5-la-item span {
  display: inline-block;
  width: 28pt;
  height: 28pt;
  padding: 3pt;
  text-align: center;
  line-height: 24pt;
  font-size: 14px;
  vertical-align: middle;
  background-clip: content-box;
  color: white;
  font-family: Playball, cursive;
  cursor: pointer;
}
.t5-la-item:first-child span {
  background-color: #ea3b0b;
}
.t5-la-item.t5-selected:first-child span {
  outline: 1px solid #ea3b0b;
}
.t5-la-item:nth-child(2) span {
  background-color: #f44819;
}
.t5-la-item.t5-selected:nth-child(2) span {
  outline: 1px solid #f44819;
}
.t5-la-item:nth-child(3) span {
  background-color: #f56239;
}
.t5-la-item.t5-selected:nth-child(3) span {
  outline: 1px solid #f56239;
}
.t5-la-item:nth-child(4) span {
  background-color: #f77c59;
}
.t5-la-item.t5-selected:nth-child(4) span {
  outline: 1px solid #f77c59;
}
.t5-la-item:nth-child(5) span {
  background-color: #f9967a;
}
.t5-la-item.t5-selected:nth-child(5) span {
  outline: 1px solid #f9967a;
}
/* work with sortable */
.t5-la-item:nth-child(6) span {
  background-color: #f9967a;
}
.t5-la-item.t5-selected:nth-child(6) span {
  outline: 1px solid #f9967a;
}
#t5-la-closing {
  height: 2em;
  background-color: #eeeeee;
  text-align: center;
  color: #cccccc;
  line-height: 2em;
  vertical-align: middle;
  cursor: pointer;
}
.hidden {
  display: none;
}
/*  topbar  */
#t5-topbar {
  position: fixed;
  top: 0;
  height: 40pt;
  width: 100%;
  background-color: white;
  text-align: center;
  z-index: 9999;
}
#t5-topbar .container {
  position: relative;
}
#t5-logo {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
#t5-welcome {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 40pt;
  color: #f13d0b;
}
#t5-search-wrap {
  line-height: 40pt;
}
#t5-search {
  width: 240px;
  line-height: 20pt;
  border: 1px solid #f13d0b;
}
.navbar {
  margin-bottom: 0;
}
.navbar-form .form-control {
  width: 400px;
}
.tt-dropdown-menu,
h4.t5-sr-title {
  width: 400px;
}
/*  banner */
#t5-banner {
  position: relative;
  height: 350pt;
}
#t5-banner-row {
  position: relative;
  height: 200pt;
  margin: 75pt auto;
}
#t5-title {
  width: 225%;
}
#t5-headline-col {
  height: 100%;
}
#t5-headline {
  position: absolute;
  bottom: 0;
  color: white;
  text-align: center;
  font-size: 26px;
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  #t5-headline {
    font-size: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #t5-headline {
    font-size: 22px;
    margin-left: -80px;
    bottom: 19px;
  }
  #t5-title {
    width: 240%;
  }
}
#t5-login-col {
  position: absolute;
  right: 0;
  width: 430px;
  height: 100%;
}
/* login */
#t5-login,
#t5-register {
  position: relative;
  height: 100%;
  border: 2px solid #f13d0b;
  padding: 20pt;
  letter-spacing: 1px;
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
}
#t5-login-title {
  margin: 0;
  font-size: 26px;
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
}
#t5-login-table {
  margin-top: 10pt;
  font-size: 15px;
  vertical-align: bottom;
}
#t5-login-table td {
  vertical-align: bottom;
}
#t5-login-table small {
  font-size: 11px;
}
#t5-login-table tr td:first-child {
  text-align: right;
  padding-right: 0.5em;
}
#t5-login-table tr td:last-child {
  padding-left: 1em;
}
#t5-login-table tr:first-child,
#t5-login-table tr:nth-child(2) {
  height: 2.5em;
}
#t5-login-table tr:nth-child(3) {
  line-height: 1em;
}
#t5-login-table tr:nth-child(4) {
  height: 20pt;
}
#t5-login-table tr:last-child {
  height: 35pt;
}
#t5-username,
#t5-password,
#t5-register-table input {
  width: 10em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #959595;
  outline: none;
}
#t5-username:focus,
#t5-password:focus,
#t5-register-table input:focus {
  border-color: #f13d0b;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #353535;
}
.t5-signup {
  width: 220px;
  line-height: 30px;
}
#t5-remember {
  /*
  background-color:transparent;
  */
}
#t5-login-btn,
#t5-register-btn {
  width: 120px;
  letter-spacing: 1px;
}
#t5-login-btn {
  background-color: #f13d0b;
  color: white;
  font-weight: inherit;
}
#t5-register-btn {
  background-color: white;
  border: 1px solid #f13d0b;
  opacity: 0.85;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.t5-social {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 2em;
  height: 2em;
  margin: 3px;
  border: 1px solid #959595;
  border-radius: 2em;
  cursor: pointer;
  background-position: center;
  background-size: 60% 60%;
  background-repeat: no-repeat;
}
.t5-social:hover {
  border: 1px solid #f13d0b;
  background-color: #f13d0b;
}
.t5-social:nth-child(1) {
  background-image: url(../img/facebook-icon.png);
}
.t5-social:nth-child(1):hover {
  background-image: url(../img/facebook-icon-hover.png);
}
.t5-social:nth-child(2) {
  background-image: url(../img/twitter-icon.png);
}
.t5-social:nth-child(2):hover {
  background-image: url(../img/twitter-icon-hover.png);
}
.t5-social:nth-child(3) {
  background-image: url(../img/gplus-icon.png);
}
.t5-social:nth-child(3):hover {
  background-image: url(../img/gplus-icon-hover.png);
}
#t5-register-table {
  margin: 5pt 0 20pt 0;
}
#t5-register-table td {
  height: 2em;
  vertical-align: bottom;
}
#t5-register-table td:nth-child(1) {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 0.5em;
  padding-top: 0.8em;
}
.change_link {
  margin-left: 5pt;
}
/*  collage  */
#t5-banner-mask,
#t5-banner-collage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#t5-banner-mask {
  background-color: black;
  opacity: 0.7;
  z-index: -1000;
}
#t5-banner-collage {
  background-image: url('../img/collage.png');
  background-size: auto 100%;
  background-repeat: repeat-x;
  /*
  background-position:50px 0;
  */
  z-index: -2000;
}
#t5-login-mask,
#t5-login-collage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
}
#t5-login-mask {
  background-color: white;
  opacity: 0.99;
  background-image: url("../img/login-bg.png");
}
/*
#t5-login-collage
{
  background-image:url('image/collage.png');
  background-repeat:repeat-x;
  z-index:-2000;
}
*/
