.Border {
  border: #f13d0b 1px solid;
}
.Border-white {
  border: 1px solid #ffffff;
}
.Circle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.light {
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.thin {
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
  font-weight: 200;
  letter-spacing: 0.5px;
}
.superthin {
  font-weight: 100;
  letter-spacing: 0.5px;
}
/* overwrit bootstrap */
.btn {
  border-radius: 0;
  letter-spacing: 1px;
}
body {
  min-width: 768px;
}
.centered {
  float: none;
  margin: 0 auto;
}
.fa-lg {
  font-size: 1.7em;
}
.form-control {
  border: 2px solid #f13d0b;
}
.navbar-form .form-control {
  width: 300px;
}
input:focus {
  color: #5e5e5e;
  font-weight: 500;
}
.username {
  line-height: 70px;
  margin: 0 15px;
  color: #7c7c7c;
  font-size: larger;
}
.user-menu-text {
  padding-left: 10px;
  font-weight: 300;
  font-size: larger;
}
.user-menu .dropdown-menu > li > a {
  padding: 7px 20px;
}
.user-menu .dropdown-menu .divider {
  margin: 0;
}
.btn-social:hover {
  color: #ffffff;
}
/*  Category Menu   */
#t5-cat-menu {
  display: inline-block;
  position: fixed;
  top: 110pt;
  width: 30pt;
  background-color: white;
}
.t5-cat-1st {
  position: relative;
}
.t5-cat-1st > span {
  display: block;
  height: 23pt;
  margin-left: 3pt;
  background-color: #f13d0b;
  cursor: default;
  color: white;
  text-align: center;
  line-height: 23pt;
}
.t5-cat-icon {
  max-width: 100%;
  max-height: 100%;
  width: 44%;
  vertical-align: text-bottom;
}
.t5-cat-bf {
  width: 53%;
}
.t5-cat-icon:hover {
  cursor: pointer;
}
.t5-cat-1st:not(:last-child) > span {
  border-bottom: 1px solid #cf3409;
}
.t5-cat-1st > div {
  position: absolute;
  left: 30pt;
  top: 0;
  width: 120pt;
  padding: 0.5em 0em 0.5em 1.5em;
  background-color: white;
  display: none;
}
.t5-cat-title {
  font-family: 'Playball', 'Monotype Corsiva', 'Gabriola', cursive, script;
  font-size: 20px;
  margin-left: -0.5em;
  margin-top: -0.2em;
  margin-bottom: 0.17em;
}
.t5-cat-2nd {
  padding: 0.2em 0;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: top;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
}
.t5-cat-2nd:hover {
  color: #f13d0b;
}
.t5-cat-1st:hover > div {
  display: block;
}
.t5-cat-1st:hover > span {
  background-color: white;
  color: black;
  border-right: 1px solid #eeeeee;
}
/*  topbar  */
#t5-topbar {
  position: fixed;
  top: 0;
  height: 40pt;
  width: 100%;
  background-color: white;
  text-align: center;
  z-index: 9999;
}
#t5-topbar .container {
  position: relative;
}
#t5-logo {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
#t5-welcome {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 40pt;
  color: #f13d0b;
}
#t5-search-wrap {
  line-height: 40pt;
}
#t5-search {
  width: 240px;
  line-height: 20pt;
  border: 1px solid #f13d0b;
}
/*  banner */
#t5-banner {
  position: relative;
  margin-top: 40pt;
  height: 300pt;
}
#t5-banner-row {
  position: relative;
  height: 200pt;
  margin: 50pt auto;
}
#t5-title {
  width: 225%;
}
#t5-headline-col {
  height: 100%;
}
#t5-headline {
  position: absolute;
  bottom: 0;
  color: white;
  text-align: center;
  font-size: 26px;
  font-weight: lighter;
  letter-spacing: 1px;
}
#t5-login-col {
  position: absolute;
  right: 0;
  width: 430px;
  height: 100%;
}
/* login */
#t5-login {
  position: relative;
  height: 100%;
  border: 2px solid #f13d0b;
  padding: 20pt;
  letter-spacing: 1px;
  font-weight: lighter;
}
#t5-login-title {
  margin: 0;
  font-weight: inherit;
}
#t5-login-table {
  margin-top: 10pt;
  font-size: 15px;
  vertical-align: bottom;
}
#t5-login-table td {
  vertical-align: bottom;
}
#t5-login-table small {
  font-size: 10px;
}
#t5-login-table tr td:first-child {
  text-align: right;
  padding-right: 0.5em;
}
#t5-login-table tr td:last-child {
  padding-left: 1em;
}
#t5-login-table tr:first-child,
#t5-login-table tr:nth-child(2) {
  height: 2.5em;
}
#t5-login-table tr:nth-child(3) {
  line-height: 1em;
}
#t5-login-table tr:nth-child(4) {
  height: 20pt;
}
#t5-login-table tr:last-child {
  height: 35pt;
}
#t5-username,
#t5-password {
  width: 10em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #959595;
}
#t5-remember {
  /*
  background-color:transparent;
  */
}
#t5-login-btn,
#t5-register-btn {
  width: 120px;
  letter-spacing: 1px;
}
#t5-login-btn {
  background-color: #f13d0b;
  color: white;
  font-weight: inherit;
}
#t5-register-btn {
  background-color: transparent;
  border: 1px solid #f13d0b;
  color: ;
}
.t5-social {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 2em;
  height: 2em;
  margin: 3px;
  border: 1px solid #959595;
  border-radius: 2em;
}
/*  collage  */
#t5-banner-mask,
#t5-banner-collage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#t5-banner-mask {
  background-color: black;
  opacity: 0.75;
  z-index: -1000;
}
#t5-banner-collage {
  background-image: url('../img/collage.png');
  background-size: auto 100%;
  background-repeat: repeat-x;
  /*
  background-position:50px 0;
  */
  z-index: -2000;
}
#t5-login-mask,
#t5-login-collage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#t5-login-mask {
  background-color: white;
  opacity: 0.87;
  z-index: -1000;
}
/*
#t5-login-collage
{
  background-image:url('image/collage.png');
  background-repeat:repeat-x;
  z-index:-2000;
}
*/
