@import "style.less";
body{
	background-color: @gray-darker;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
h2{
	font-family: @font-family-serif;
	color: #ffffff;
	text-align: center;
	line-height: 70px;
}
.topic-filters{
	background-color: @gray-dark;
	padding: 20px;
}
.topic-filters .btn-info{
	padding: 2px 20px;
	margin: 7px;
}
#t5-placeholder
{
  display:none;
  color:white;
  text-align:center;
  .light;
}
