@import "style.less";

@gray-lighter-shade1: lighten(#000, 85%); 
@gray-lighter-shade2: lighten(#000, 80%); 


/*  topbar  */
/*
#t5-topbar
{
  position:fixed;
  top:0;
  height:40pt;
  width:100%;
  background-color:white;
  text-align:center;
  z-index:9999;
}


#t5-logo
{
  position:absolute;
  left:0;
  top:0;
  height:30pt;
  margin:5pt 10pt;
}

#t5-search
{
  width:240px;
  line-height:20pt;
  margin:9pt 0;
  border:1px solid @brand-primary;
}

.t5-topbar-btn
{
  display:inline-block;
  width:30pt;
  height:100%;
  margin:0 10pt;
  cursor:default;
  
  color:@brand-primary;
  font-size:@font-size-large;
  font-weight:bolder;
  vertical-align:top;
  line-height:40pt;
}
.t5-topbar-btn.selected, .t5-topbar-btn:hover 
{
  background-color:@brand-primary;
  color:white;
}
*/


/*  list adding */


/* list adding title */

#t5-list-adding
{
  position:relative;
  background-color:white;
  display:none;
  .light;
}



#t5-list-adding-title
{
  height:34pt;
  background-color:@gray-lighter;
  border-bottom: 2px solid @gray-lighter-shade1;
}
#t5-list-adding-title .container, #t5-list-adding-title .container > *
{
	line-height:34pt;
	vertical-align:middle;
}


#t5-list-title-input
{
	width:100%;
	border:none;
	border-bottom:1px solid @gray-light;
	background-color:transparent;
	line-height:10pt;
	margin:5pt 0;
	outline: none;
	padding-left: 0.5em;
	font-size: 16px;
	&:focus{
		border-bottom-color: @gray;
	}
}

#t5-list-cat-btn
{
	display:inline-block;
	width:1.26em;
	height:1.26em;
	margin-left:0.3em;
	background-image:url('../img/cat-icon.png');
	background-size:100% 100%;
	vertical-align:text-top;
}
#t5-list-cat-wrap
{
	display:inline-block;
	height:34pt;
	cursor:pointer;
	padding:0 16pt;
}
#t5-list-cat-wrap.t5-open
{
	background-color:white;
}

#t5-save-list-btn
{
	line-height:10pt;
}

/* list adding category menu */
#t5-la-cat-title{
	font-size: 15px;
}
.t5-open #t5-la-cat-title{
	color: @brand-primary;
}

#t5-list-cat-menu
{
	position:absolute;
	top:34pt;
	width:100%;
	height:130pt;
	border-bottom:1px solid @gray-lighter;
	text-align:center;
	padding:10pt 0;
	background-color: white;
	z-index:5000;
}
#t5-list-cat-menu .container
{
	height:100%;	
}

.t5-list-cat-col
{
	display:inline-block;
	height:100%;
	width:125px;
	vertical-align:top;
	text-align:left;
	padding-left:0.5em;
}
.t5-list-cat-col:nth-child(2){
	width: 134px;
}
.t5-list-cat-col:nth-child(3){
	width: 150px;
}
.t5-list-cat-col:nth-child(4){
	width: 190px;
}
.t5-list-cat-col:nth-child(5){
	width: 118px;
}
.t5-list-cat-col:nth-child(6){
	width: 110px;
}
.t5-list-cat-col:not(:first-child)
{
	border-left:1px solid @gray-lighter;	
}
.t5-list-cat-col > h4
{
	margin-top:7pt;
	color:@gray-dark;
	font-size:@font-size-base;
}
.t5-list-cat-col > div
{
	color:@gray;
	font-size:@font-size-small;
	line-height:1.9em;
}
img.t5-la-cat-icon{
	height: 18px;
	width: 18px;
	margin-right: 5px;
	vertical-align: text-bottom;
}
.t5-la-cat-item
{
  cursor:pointer;  
}
.t5-la-cat-item:hover
{
  color:@brand-primary;  
}
.t5-la-cat-item.t5-selected
{
  color:@brand-primary;    
}
.t5-list-cat-col:nth-child(4) > div
{
	display:inline-block;
	vertical-align:top;
	width:80px;
}


/*	list adding body	*/

#t5-la-body
{
	padding:1em 0;
}


#t5-la-item-input, #t5-la-item-image, #t5-la-item-comment
{
  border:2px solid @gray-lighter-shade1;
  outline: none;
}
#t5-la-item-input
{
	width:100%;
	height: 32px;
	margin: 3px 0;
	padding-left:2.2em;
	background-image: url("../img/search.png");
	background-position: 3px center;
	background-repeat: no-repeat;
	background-size: 25px;
	background-color: transparent;
}

#t5-la-item-wrap
{
	margin:5pt 0;
	height:90pt;
}
#t5-la-item-image, #t5-la-item-comment
{
	display:inline-block;
	vertical-align:top;
	height:100%;
}
#t5-la-item-image
{
  position:relative;
	width:130pt;
}
#t5-la-item-image img
{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

.t5-la-image-icon
{
  position:absolute;
  display:inline-block;
  
  background-position:center;
  background-size:100% 100%;
  background-repeat:no-repeat;
  z-index:1000;
  cursor:pointer;
}
.t5-la-image-icon:nth-child(1)
{
  background-image:url(../img/upload.png);
  width:50px;
  height:50px;
  /*
  right:5px;
  bottom:35px;
  */
  left:20%; bottom:30%;
}
.t5-la-image-icon:nth-child(1):hover
{
  background-image:url(../img/upload-hover.png);  
}
.t5-la-image-icon:nth-child(2)
{
  background-image:url(../img/url.png);  
  width:45px;
  height:45px;
  /*
  right:5px;
  bottom:5px;
  */
  right:20%; bottom:30%;
}
.t5-la-image-icon:nth-child(2):hover
{
  background-image:url(../img/url-hover.png);  
}



#t5-la-item-comment
{
	width:110pt;
	float:right;
	padding:0 0.5em;
	resize:none;
	font-size: @font-size-small;
}
#t5-la-item-btn
{
	position:relative;
	top:3px;
	width:100%;
}



#t5-la-body > .container > div:nth-child(2)
{
	padding-left:20pt;
}

.t5-la-item
{
	white-space:nowrap;
	margin-bottom:5pt;
}

.t5-la-item div
{
	display:inline-block;
	padding-left:5pt;
	font-size:@font-size-large;
	color:@gray;
	vertical-align:middle;
}

.t5-la-item span
{
	display:inline-block;
	width:28pt;
	height:28pt;
	padding:3pt;
	text-align:center;
	line-height:24pt;
	font-size:14px;
	vertical-align:middle;
	background-clip:content-box;
	color:white;
	font-family:Playball, cursive;
	cursor:pointer;
}

.t5-la-item:first-child span
{
	background-color:@shade1;
}
.t5-la-item.t5-selected:first-child span
{
	outline:1px solid @shade1;
}
.t5-la-item:nth-child(2) span
{
	background-color:@shade2;	
}
.t5-la-item.t5-selected:nth-child(2) span
{
	outline:1px solid @shade2;
}
.t5-la-item:nth-child(3) span
{
	background-color:@shade3;	
}
.t5-la-item.t5-selected:nth-child(3) span
{
	outline:1px solid @shade3;
}
.t5-la-item:nth-child(4) span
{
	background-color:@shade4;	
}
.t5-la-item.t5-selected:nth-child(4) span
{
	outline:1px solid @shade4;
}
.t5-la-item:nth-child(5) span
{
	background-color:@shade5;	
}
.t5-la-item.t5-selected:nth-child(5) span
{
	outline:1px solid @shade5;
}
/* work with sortable */
.t5-la-item:nth-child(6) span
{
  background-color:@shade5; 
}
.t5-la-item.t5-selected:nth-child(6) span
{
  outline:1px solid @shade5;
}




