@import "style.less";
body{
	background-color: @gray-darker;
}
.highlight{
	color: @brand-primary;
	.thin;
}
h3{
	text-align: center;
	color: white;
	.superthin;
	margin-top: 30px;
	margin-bottom: 26px;
	font-size: 26px;

}
.t5-header{
	padding: 20px 10px;
	background-color: @gray-lighter;
}
.h2{
	font-family: @font-family-serif;
	.centered;
}
.t5-result{
	background-color: white;
	min-height: 400px;
	padding-top: 25px;
	
}
#result-tabs{
	margin: auto;
}
.nav-tabs li>a:hover{
	background-color: white;
	color: @gray-darker;
	border: @brand-primary solid 1px;
	border-bottom: white solid 1px;
}
.t5-tab-title{
	font-size: 18px;
	.light;
	width: 200px;
	margin: 0 10px;
	text-align: center;
}
.t5-tab-title:nth-of-type(1){
	margin-left: 10%;
}