@import "magic-bootstrap.less";
@import "basic.less";

// Universal Styles
body{
	min-width: 768px;
}
.hidden{
	display: none;
}
.centered{
	float: none;
    margin: 0 auto;
}
.t5-container
{
  max-width:750px;
}

// Media Queries
@screen-xs-max: 768px;
@screen-sm-min: @screen-xs-max;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

// Nav Bar

.navbar
{
  margin-bottom:0;
}
.fa-lg {
    font-size: 1.7em;
}
.form-control{
	border: 2px solid @brand-primary;
}
.navbar-form .form-control {
	width: 330px;
}
input:focus { 
	color: @gray;
	background-image: none;
}
.username{
	line-height: @navbar-height;
	margin: 0 15px;
	color: darken(@gray-light, 10%);
	font-size: larger;
}
.user-menu-text{
	padding-left: 10px;
	font-weight: 300;
	font-size: larger;
}
.user-menu .dropdown-menu > li > a {
	padding: 7px 20px;
}
.user-menu .dropdown-menu .divider {
	margin: 0;
}
.btn-social:hover{
	color: #ffffff;
}
.t5-nav-search input::-webkit-input-placeholder {
	.light;
}
.t5-nav-search input:-moz-placeholder { /* Firefox 18- */
	.light;
}

.t5-nav-search input::-moz-placeholder {  /* Firefox 19+ */
	.light; 
}

.t5-nav-search input:-ms-input-placeholder {
	.light;
}
.t5-nav-search{
	position: relative;
}
.t5-nav-search button{
	height: 34px;
	width: 34px;
	position: absolute;
	top: 0;
	right: 5px;
	margin: 0;
	border: none;
	background-image: url("../img/search-brand.png");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 24px;
	background-color: transparent;
	outline: none;
}

/* custom styles for the typeahead */

h4.t5-sr-title{
	color: @gray;
	background-color: @gray-lighter;
	padding: 6px 0px 3px 13px;
	margin: 0;
	font-size: 16px;
	.light;
	width: 330px;
}
.tt-dropdown-menu {
	text-align: left;
	background-color: white;
	width: 300px;
	border: 1px solid @gray-lighter;
	max-height: 270px;
	overflow-y: auto;
	opacity: 0.97;
}
.tt-suggestion{
	cursor: pointer;
	padding-left: 14px;
	&:hover{
		color: @brand-primary;
	}
}
.tt-suggestion p {
	margin: 3px 0;
	font-size: 13.5px;
}
.empty-message{
	text-align: center;
	margin: 3px auto;
}

/*  Category Menu   */

#t5-cat-menu
{
  display:inline-block;
  position:fixed;
  top:110pt;
  width:30pt;
  background-color:white;
  z-index: 1000;
  cursor:pointer;
}

.t5-cat-1st
{
  position:relative;
}
.t5-cat-1st > span
{
  display:block;
  height:23pt;
  margin-left:3pt;
  background-color:@brand-primary;
  cursor:default;
  
  color:white;
  text-align:center;
  line-height:23pt;
}
.t5-cat-icon{
  max-width: 100%; 
  max-height: 100%;
  width: 44%;
  vertical-align: text-bottom;
  cursor: pointer;
}
.t5-cat-bf{
  width: 53%;
}
.t5-cat-1st:not(:last-child)  > span
{
  border-bottom:1px solid @brand-primary-darker;
}

.t5-cat-1st > div
{
  position:absolute;  
  left:30pt;
  top:0;
  width:120pt;
  padding:0.5em 0em 0.5em 1.5em;
  background-color:white;
  display:none;
}
.t5-cat-title{
  font-family: @font-family-serif;
  font-size: 20px;
  margin-left:-0.5em;
  margin-top: -0.2em;
  margin-bottom: 0.17em;
  cursor: default;
}
.t5-cat-2nd
{
  padding:0.2em 0;
  white-space:nowrap;
  vertical-align:top;
  .light;
  &:hover{
	  color: @brand-primary;
  }
}
a.t5-cat-2nd{
	color: @gray-dark;
	&:hover {
		text-decoration:none; 
	}
}
.t5-cat-1st:hover > div
{
  display:block;
}
.t5-cat-1st:hover > span
{
  background-color:white;  
  color:black;
  border-right:1px solid @gray-lighter;
}

/* template */
.t5-template
{
  display:none;
}


/*   list  */

.list-item{
  width: 700px;
  margin: 30px 50px 0;
  background-color: #ffffff;
  .Border;
}
h3{
  font-weight: 200;
  color: @brand-primary;
  margin-left: 20px;
  margin-bottom: 20px;
}
.t5-list-heart
{
  display:inline-block;
  height:1em;
  width:1em;
  vertical-align:baseline;
  cursor:pointer;
  
  background-image:url(../img/heart.png);
  background-size:100% 100%;
  background-position:center;
  background-repeat:no-repeat;
}
/*
.t5-list-heart:hover
{
  background-image:url(../img/heart-highlight.png);  
}
*/
.t5-list-heart.t5-selected
{
  background-image:url(../img/heart-highlight.png);    
}


.t5-cateicon{
  font-size: 2.2em;
  margin-right: 14px;
  margin-top: 12px;
}
.t5-user-pic{
  .Circle;
  .Border;
  width: auto;
  max-width: 100%; 
  max-height: 100%;
  margin: auto;
  padding: 3px;
}
.t5-item-image-wrap{
  margin-left: 27px; 
  height: 120px; 
  margin-top: -23px;
}
.t5-item-image{
  .Border;
  object-fit: cover;
  background-color: #ffffff;
  padding: 3px;
  max-width: 100%; 
  max-height: 100%;
}
.t5-ranking-box{
  cursor: pointer;
  display: inline-block;
  font-family: @font-family-serif;
  margin: 1px 5px;
  width: 22px;
  height: 22px;
  text-align: center;
  color: white;
}
.t5-ranking-num{
  vertical-align: middle;
}
.t5-1st{
  background-color: @shade1;
}
.t5-2nd{
  background-color: @shade2;
}
.t5-3rd{
  background-color: @shade3;
}
.t5-4th{
  background-color: @shade4;
}
.t5-5th{
  background-color: @shade5;
}
.t5-list-item{
  display: inline-block;
  .light;
  color: @gray;
  vertical-align: middle;
}
// Functional Icons

.t5-functions{
  float: right;
  font-size: 16px;
  margin-bottom: 5px;
  .fa{
    color: lighten(@gray-light, 8%);
    margin-left: 5px;
  }
}
  