.condense-font {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}
body {
  background-color: #fafaf0;
  margin: 0;
}
.hidden {
  display: none;
}
h1 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
  line-height: 55px;
  background-color: #e1e1d7;
  padding-left: 50px;
  margin-top: 30px;
  color: #333333;
  font-size: 26px;
}
.circle {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
  border: 4px #f5f5eb solid;
}
.circle-ethnicity {
  background-color: #ff4c35;
}
.circle-ms {
  background-color: #ff891c;
}
.circle-age {
  background-color: #ffeb2b;
}
.circle-background {
  background-color: #c1f05f;
}
.circle-employment {
  background-color: #92efd9;
}
.circle-income {
  background-color: #4fdbfd;
}
.circle-gender {
  background-color: #e2a2fb;
}
.circle-education {
  background-color: #ff7fc7;
}
.oneline {
  top: 41%;
}
.twoline {
  top: 34%;
  line-height: 110%;
}
.title {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
  color: #333333;
  font-size: 18px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.title-ms,
.title-income {
  top: 34%;
  line-height: 110%;
}
.title-age,
.title-background,
.title-employment,
.title-gender,
.title-education,
.title-ethnicity {
  top: 41%;
}
.left {
  background-color: #fcfcf9;
  border: 4px solid #e1e1d7;
  height: 360px;
}
.data {
  margin-top: -26px;
}
.hover {
  width: 70px;
  position: relative;
  top: 110px;
  left: 200px;
}
h2 {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
  text-align: center;
  vertical-align: middle;
  line-height: 208px;
  color: #5f5f5f;
}
